@import "../fonts/Montserrat/montserrat.css";

.wrapper{
    padding-top: 0;
}

.category {
}

.category .category__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606; 
}

.category .category__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.category .category__list .category__list__item {
    position: relative;
    padding: 150px;
}

.category .category__list .category__list__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.category .category__list .category__list__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category .category__list .category__list__item:nth-child(1) {
    background-color: #DBE4DB;
}

.category .category__list .category__list__item:nth-child(2) {
    background-color: #EADDD3;
}

.category .category__list .category__list__item:nth-child(3) {
    background-color: #f8f2db;
}

.category .category__list .category__list__item:nth-child(4) {
    background-color: #d5d4e1;
}

.category .category__footer {

}

.category .category__footer .category__footer__left-arrow,
.category .category__footer .category__footer__right-arrow {
    background-color: #e2f0f8;
    padding: 5px 12px;
}

.category .category__footer .category__footer__left-arrow {
    padding-right: 5px;
    transform: rotate(180deg);
}

.category .category__footer .category__footer__right-arrow {
    margin-right: 20px;
}

.category .category__footer .category__footer__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
}