@import "../fonts/Open_Sans/opensans.css";
@import "../fonts/Montserrat/montserrat.css";

body {
    padding: 50px 110px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}