.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.header .header__left-side {
    display: flex;
    flex-direction: row;
}

.header .header__left-side .header__menu {
    display: flex;
    flex-direction: row;
    padding-inline-start: 60px;
}

.header .header__left-side .header__menu .header__menu__item {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    margin-right: 20px;
}

.header .header__rigth-side .header__contact {
    display: flex;
}

.header .header__rigth-side .header__contact .header__contact__item {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    margin-left: 25px;
}

.collection {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #EEE4DB;
}

.collection .collection__top-side {
    display: flex;
    flex-direction: column;
    padding: 90px 130px;
    width: 350px;
}

.collection .collection__img {
    position: absolute;
    right: 90px;
    bottom: 0;
}

.collection .collection__top-side .collection__title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.collection .collection__top-side .collection__description {
    font-family: Crimson Text, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.collection .collection__footer {
    position: relative;
    display: flex;
    padding: 11px 0;
    background-color: #C29974;
    z-index: 10;
}

.collection .collection__footer .collection__footer__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}

.category {
}

.category .category__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.category .category__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.category .category__list .category__list__item {
    position: relative;
    padding: 150px;
}

.category .category__list .category__list__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.category .category__list .category__list__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category .category__list .category__list__item:nth-child(1) {
    background-color: #DBE4DB;
}

.category .category__list .category__list__item:nth-child(2) {
    background-color: #EADDD3;
}

.category .category__list .category__list__item:nth-child(3) {
    background-color: #f8f2db;
}

.category .category__list .category__list__item:nth-child(4) {
    background-color: #d5d4e1;
}

.category .category__footer {

}

.category .category__footer .category__footer__left-arrow,
.category .category__footer .category__footer__right-arrow {
    background-color: #e2f0f8;
    padding: 5px 12px;
}

.category .category__footer .category__footer__left-arrow {
    padding-right: 5px;
    transform: rotate(180deg);
}

.category .category__footer .category__footer__right-arrow {
    margin-right: 20px;
}

.category .category__footer .category__footer__description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
}

.delivery {
    display: flex;
    flex-direction: row;
}

.delivery .delivery__left-wrap {
    position: relative;
    width: 35%;
}

.delivery .delivery__left-wrap .delivery__left-wrap__img {
    position: relative;
    width: 100%;
}

.delivery .delivery__right-wrap {
    padding: 30px 60px;
    width: 65%;
}

.delivery .delivery__list .delivery__list__item {
    padding: 10px 0 10px 60px;
}

.delivery .delivery__list .bgcolor_blue {
    background-color: #e2f0f8;
}


.delivery .delivery__list__item .delivery__additional_title {
    font-family: "Crimson Text";
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.delivery .delivery__right-wrap .delivery__title {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

.delivery .delivery__list__item .delivery__list__text {
    font-family: Crimson Text;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.delivery .delivery__list__item .margin_b_10 {
    margin-bottom: 10px;
}

.delivery .delivery__list__item .delivery__list__description {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.delivery .delivery__list__item .delivery__list__button {
    margin-top: 10px;
}

.clients {

}

.clients .clients__title {
    display: none;
}

.clients .clients__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.contacts .contacts__left-wrap,
.contacts .contacts__right-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #E1F0F7;
}

.contacts .contacts__left-wrap {
    margin-right: 60px;
}

.contacts .contacts__left-wrap .contacts__left-wrap__title,
.contacts .contacts__right-wrap .contacts__right-wrap__title {
    position: absolute;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    top: -20px;
}

.contacts .contacts__left-wrap .contacts__left-wrap__additional-title {
    font-family: 'Crimson Text';
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.contacts .contacts__left-wrap .contacts__left-wrap__description,
.contacts .contacts__right-wrap .contacts__right-wrap__description {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.contacts .contacts__right-wrap .contacts__ritht-wrap__map {
    position: absolute;
    bottom: -50%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #434343;
    color: #fff;
}

.footer .link {
    color: #fff;
}

.footer .footer__left-wrap,
.footer .footer__center-wrap,
.footer .footer__right-wrap {
    width: calc(100% / 3);
}

.footer .footer__left-wrap .footer__left-wrap__title,
.footer .footer__center-wrap .footer__center-wrap__title,
.footer .footer__right-wrap .footer__right-wrap__title {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    width: 95%;
    padding-bottom: 20px;
    border-bottom: solid 1px #666666;
}

.footer .footer__left-wrap .footer__left-wrap__item,
.footer .footer__center-wrap .footer__center-wrap__item {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

.footer .footer__right-wrap .footer__right-wrap__input {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #EBEBEB;
    padding:9px 15px;
    background-color: #666666;
    border: none;
}

.footer .footer__right-wrap .footer__right-wrap__item{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.footer .footer__right-wrap .footer__right-wrap__link{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer .footer__right-wrap .facebook{
    background-image: url("../img/logo/Facebook.svg");
}
.footer .footer__right-wrap .twitter{
    background-image: url("../img/logo/Twitter.svg");
}
.footer .footer__right-wrap .pinterest{
    background-image: url("../img/logo/Pinterest.svg");
}
.footer .footer__right-wrap .instagram{
    background-image: url("../img/logo/Instagram.svg");
}

.footer .footer__right-wrap .input{
    display: flex;
}



