.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.header .header__left-side {
    display: flex;
    flex-direction: row;
}

.header .header__left-side .header__menu {
    display: flex;
    flex-direction: row;
    padding-inline-start: 60px;
}

.header .header__left-side .header__menu .header__menu__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    margin-right: 20px;
}

.header .header__rigth-side .header__contact {
    display: flex;
}

.header .header__rigth-side .header__contact .header__contact__item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-left: 25px;
}

.collection {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #EEE4DB;
    margin-bottom: 90px;
}

.collection .collection__top-side {
    display: flex;
    flex-direction: column;
    padding: 90px 130px;
    width: 350px;
}

.collection .collection__img {
    position: absolute;
    right: 90px;
    bottom: 0;
}

.collection .collection__top-side .collection__title {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.collection .collection__top-side .collection__description {
    font-family: Crimson Text, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.collection .collection__top-side .collection__button {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 22px;
    width: fit-content;
    border: none;
    background-color: #000;
    cursor: pointer;
}

.collection .collection__footer {
    position: relative;
    display: flex;
    padding: 11px 0;
    background-color: #C29974;
    z-index: 10;
}

.collection .collection__footer .collection__footer__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}

.category {

}

.category .category__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.category .category__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;
    margin-bottom: 30px;
}

.category .category__list .category__list__item {
    position: relative;
    padding: 150px;
}

.category .category__list .category__list__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.category .category__list .category__list__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category .category__list .category__list__item:nth-child(1) {
    background-color: #DBE4DB;
}

.category .category__list .category__list__item:nth-child(2) {
    background-color: #EADDD3;
}

.category .category__list .category__list__item:nth-child(3) {
    background-color: #f8f2db;
}

.category .category__list .category__list__item:nth-child(4) {
    background-color: #d5d4e1;
}

.category .category__footer {

}

.category .category__footer .category__footer__left-arrow,
.category .category__footer .category__footer__right-arrow {
    background-color: #e2f0f8;
    padding: 5px 12px;
}

.category .category__footer .category__footer__left-arrow {
    padding-right: 5px;
    transform: rotate(180deg);
}

.category .category__footer .category__footer__right-arrow {
    margin-right: 20px;
}

.category .category__footer .category__footer__description {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    vertical-align: top;
}

.delivery {
    display: flex;
    flex-direction: row;
}

.delivery .delivery__left-wrap {
    position: relative;
    width: 35%;
}

.delivery .delivery__left-wrap .delivery__left-wrap__img {
    position: relative;
    width: 100%;
}

.delivery .delivery__right-wrap {
    padding: 30px 60px;
    width: 65%;
}

.delivery .delivery__right-wrap .delivery__list {
    padding-inline-start: 0;
}

.delivery .delivery__list .delivery__list__item {
    padding: 10px 0 10px 60px;
}

.delivery .delivery__list .bgcolor_blue {
    background-color: #e2f0f8;
}


.delivery .delivery__list__item .delivery__additional_title {
    font-family: Crimson Text, sans-serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.delivery .delivery__right-wrap .delivery__title {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}